.spinner-border {
  width: 1.5rem !important;
  height: 1.5rem !important;
}

.eye_button {
  position: absolute;
  right: 0.9rem;
  top: 0.5rem;
  cursor: pointer;
  z-index: 1;
}

/* main  */
.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none !important;
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
  border-color: none !important;
  box-shadow: none !important;
}

.form-control.is-valid,
.was-validated .form-control:valid {
  border-color: #dee2e6 !important;
  background-image: none !important;
}

.form-control.is-invalid:focus,
.was-validated .form-control:valid:focus {
  border-color: none !important;
  box-shadow: none !important;
}

.form-check-input.is-valid,
.was-validated .form-check-input:valid {
  border-color: #dee2e6 !important;
}


.form-check-input.is-valid~.form-check-label,
.was-validated .form-check-input:valid~.form-check-label {
  color: black !important;
}

.form-check-input.is-valid:checked,
.was-validated .form-check-input:valid:checked {
  background-color: #0d6efd !important;
}


.form-check-input.is-valid:focus,
.was-validated .form-check-input:valid:focus {
  box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25) !important
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.placeholder {
  user-select: none;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  outline: 0;
  box-shadow: none !important;
}

.search-input-padding {
  padding: .4rem 4.4rem .4rem 2rem;
}

.search-input-padding::placeholder {
  font-size: .85rem;
}

.overflowY {
  overflow-y: auto;
}

.recharts-layer.recharts-pie-sector path:focus {
  outline: none !important;
}

/* ----------------------------------------------------
    404 Area
---------------------------------------------------- */
.mb-120 {
  margin-bottom: 120px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.error-img {
  margin-top: 15rem;
}

.error-img img {
  width: 40rem;
}

.error-404-inner .btn-wrapper {
  margin-top: 50px;
}

.error-404-title {
  font-size: 120px;
  line-height: 1;
  margin-bottom: 40px;
}

/* 404 area 1 */
.ltn__404-area-1 .error-404-title {
  font-size: 400px;
  line-height: 1;
  color: var(--ltn__secondary-color);
  margin-bottom: 0;
}

.ltn__404-area-1 h2 {
  font-size: 60px;
}

/* 404 area 2 */
.ltn__404-area-2 {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ltn__404-area-2 .error-404-inner {
  padding: 150px 0 170px;
}


@media (max-width: 1199px) {
  .ltn__404-area-1 .error-404-title {
    font-size: 200px;
  }

  .ltn__404-area-1 h2 {
    font-size: 30px;
  }
}

@media (max-width: 991px) {
  .ltn__404-area-2 .error-404-inner {
    padding: 80px 0 110px;
  }

  .error-404-inner p br {
    display: none;
  }

  .error-404-title {
    font-size: 80px;
  }

  .ltn__404-area-1 .error-404-title {
    font-size: 100px;
  }

  .ltn__404-area-1 h2 {
    font-size: 20px;
  }
}

/* ----------------------------------------------------
    Prepy designs css
---------------------------------------------------- */
.layout_main {
  background-color: var(--main-background-color);
  height: var(--root-height);
}

.website_logo {
  width: 8rem !important;
  height: 2.5rem;
}

.student_dashboard_icon {
  width: 3rem;
  height: 3rem;
  border-radius: 12px;
  background-color: #FFEAF0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Timetable styles */
.table.timetable th,
.table.timetable td {
  padding: 0.85rem;
  text-align: center;
  font-size: .8rem;
}

.timetable_heading {
  border: none !important;
  color: #3657BE !important;
  text-wrap: nowrap;
}

.table.timetable th {
  font-weight: bold;
}

.table.timetable .periods {
  border-left: 1px dashed #dee2e6 !important;
  border-right: 1px dashed #dee2e6 !important;
  border-top: 1px solid #dee2e6 !important;
  border-bottom: 1px solid #dee2e6 !important;
}

.table.timetable tbody tr:hover {
  background-color: #f1f1f1;
}

.activity_card_body {
  height: 15rem !important;
  overflow-y: auto;
}

.activity_bell_icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 12px;
  background-color: #F0F0F0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grade_by_classroom {
  color: #3657BE;
  font-size: 14px;
}

.border_bottom_dashed {
  border-bottom: 1px dashed gray !important;
}

.display_notes {
  height: 15rem;
}

.display_notes_content {
  color: rgba(0, 0, 0, 0.60);
  font-size: 12px;
  font-weight: 400;
}

.student_overview_main {
  height: calc(var(--root-height) - var(--header-height) - 3.5rem);
  padding: 1rem 0;
}

.small_header_content_main {
  height: calc(var(--root-height) - var(--header-height) - 5.5rem);
  padding: 1rem 0;
}

.subject_details_content_height {
  height: calc(var(--root-height) - (var(--header-height) + 14rem));
  padding: 1rem 0;
}

.overview_calender_icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #F0F0F0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.student_overview_content {
  background-color: #F0F0F0;
  border-radius: 10px;
  padding: .8rem;
  width: 45%;
}

.student_overview_table_height {
  height: calc(var(--root-height) - var(--header-height) - 23.5rem);
}

.students_list_table {
  width: 100%;
  border-collapse: collapse;
}

.students_list_table thead th {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 2;
}

.students_list_table tbody {
  display: block;
  max-height: 360px;
  overflow-y: auto;
}

.students_list_table thead,
.students_list_table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}


.test_conducted_chart_height {
  height: 27rem !important;
}

.test_conducted_table_height {
  height: calc(var(--root-height) - (var(--header-height) + 29rem));
}

.input-group-start-icon {
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  z-index: 10;
}

.staff_table_heading,
.student_table_heading {
  color: #3657BE !important;
  font-weight: 500;
  font-size: 15px;
  font-weight: bold;
}

.staff_table_data tr td,
.student_table_data tr td {
  color: #1F1D39 !important;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  align-content: center;
}

.no_data_found_image {
  width: 10rem;
  height: 10rem;
  margin-bottom: 1rem;
}

.theme_secondary_color {
  background-color: var(--theme-secondary-color) !important;
}

.admin_classroom_overview_navlink {
  color: #A6A6A6 !important;
  padding: 0 0 .7rem 0 !important;
  margin: 0 1.4rem 0 0 !important;
  text-decoration: none !important;
}

.admin_classroom_overview_navlink.active {
  color: black !important;
  border-bottom: 1px solid black !important;
}

.admin_classroom_overview_table_height {
  height: calc(var(--root-height) - var(--header-height) - 37.5rem);
  overflow-y: scroll;
}

.pointer {
  cursor: pointer;
}

.copy_icon_absolute {
  position: absolute;
  left: 0rem;
  top: 0.3rem;
  z-index: 1;
}

.option_icon_bg {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 12px;
  background: #F0F0F0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.subject_overview_table_height {
  height: calc(var(--root-height) - (var(--header-height) + 19rem));
}

td {
  align-items: middle;
  text-align: center;
}

.sechdule_test_layout {
  height: calc(var(--root-height) - (var(--header-height) + 4rem));
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
}

.schedule_option {
  text-decoration: none;
  color: black;
  display: inline-block;
  width: 100%;
  padding: 1rem;
}

.schedule_option .title {
  font-weight: bold;
  display: block;
}

.schedule_option .description {
  color: #8B8B8B;
  font-size: 14px;
}

.schedule_option.active {
  border-radius: 6px;
  background: #FFEEF3;
}

.upcoming_card_time {
  font-size: 10px;
  border-radius: 7.027px;
  background: #e8f3fc;
  padding: .4rem;
  text-align: center;
}

.test_card_color::before {
  content: '';
  position: absolute;
  top: 1rem;
  left: .5rem;
  height: 70%;
  width: 5px;
  background-color: var(--brand-color);
}

.test_completed {
  position: absolute;
  top: 0rem;
  right: 0rem;
  background-color: rgba(70, 185, 78, 0.33);
  font-size: 10px;
  padding: 0.2rem 1.8rem;
  border-radius: 0 1rem 0 0
}

.test_not_completed {
  position: absolute;
  top: 0rem;
  right: 0rem;
  background-color: #FFBABA;
  font-size: 10px;
  padding: 0.2rem 1.8rem;
  border-radius: 0 1rem 0 0
}

.test_page_options {
  text-decoration: none;
  color: #495057;
}

.test_page_options.active {
  color: black;
  font-weight: bold;
  padding-bottom: .6rem;
  border-bottom: 2px solid black;
}

.books_layout {
  height: calc(var(--root-height) - (var(--header-height) + 4rem));
}

.attachment_canvas {
  width: 40vw !important;
  border-radius: 12px 0 0 12px !important;
}

.attachment_books,
.student_attachment {
  background-color: #F6F6F6 !important;
}

.book_image {
  width: 100%;
  height: 11rem;
  object-fit: cover;
}

.student_attachment .book_image {
  width: 100%;
  height: 8rem;
  object-fit: cover;
}

.attachment_books .delete_icon,
.student_attachment .delete_icon,
.attachment_books .download_icon,
.student_attachment .download_icon {
  background-color: #ffffff;
  width: 2.7rem;
  height: 2.5rem;
  border-radius: 10px;

}

.attachment_books .delete_icon,
.student_attachment .delete_icon {
  position: absolute;
  top: .5rem;
  right: 4rem;
}

.attachment_books .download_icon,
.student_attachment .download_icon {
  position: absolute;
  top: .5rem;
  right: 0.8rem;
}

.attachment_title {
  position: relative;
  width: 100%;
  height: .1rem;
  background-color: rgba(0, 0, 0, 0.219);
}

.attachment_title p {
  position: absolute;
  top: -.5rem;
  left: 40%;
  height: 1.5rem;
  width: 10rem;
  background-color: #ffffff;
  text-align: center;
}

.search_input {
  padding: .5rem .5rem .5rem 2.3rem;
}

.performance_history_badge {
  position: absolute;
  width: 40%;
  top: 0rem;
  right: 0rem;
  background: #DDE2FF;
  color: #4258D6;
  font-size: 13px;
  padding: 0.2rem 1.8rem;
  border-radius: 0 .5rem 0 0;
}

.student_upload_body {
  height: calc(var(--root-height) - (var(--header-height) + 7.5rem));
  padding: 1rem 0;
  overflow-y: auto;
}


.performance_history_body {
  height: calc(var(--root-height) - (var(--header-height) + 53vh));
  overflow-y: auto;
}

.no_subjects_added_image {
  width: 50%;
  height: 18rem !important;
}

.book_attachment_navlink {
  position: relative;
}


.book_attachment_navlink::after {
  content: '';
  position: absolute;
  bottom: -1.2rem;
  left: 0;
  right: 0;
  height: 2px;
  width: 0%;
  background: var(--brand-color);
  transition: width 0.3s ease-in-out;
}

.book_attachment_navlink.active::after {
  width: 100%;
}

.book_attachment_navlink:hover::after {
  width: 100%;
  background: #914d767c;
}

.upcoming_test_history_body {
  height: calc(var(--root-height) - 71.5vh);
  overflow-y: auto;
}

.attachment_book_history {
  height: calc(var(--root-height) - 52vh);
  overflow-y: auto;
}

/* mcq question css */
.test_page_card_height {
  height: calc(var(--root-height) - (var(--header-height) + 2rem));
}

.test_page_card_body_height {
  height: calc(var(--root-height) - (var(--header-height) + 10rem));
}

.question_number_btn {
  width: 2.6rem;
  height: 2.6rem;
  font-size: 14px !important;
  border-radius: 50% !important;
}

.question_number_btn.active {
  border-color: #FF6C95 !important;
  background: black !important;
  color: white !important;
}

.test_radio_btn .form-check-input {
  accent-color: #ff0c51;
}

.test_radio_btn .form-check-input:checked {
  background-color: #FF6C95 !important;
  border-color: #ff0c51 !important;
  color: white;
}
.questions_answered {
  background-color: #f15682;
  color: black;
}

.questions_unanswered {
  color: black;
}

.selected_question_active {
  border: 1px solid #FF6C95 !important;
  background: rgba(255, 108, 149, 0.21) !important;
}
.selected_question_active input[type="radio"]:checked {
  accent-color: #FF6C95;
<<<<<<< HEAD
}

.questions_answerd {
  background: linear-gradient(90deg, #EC008C 0%, #FC6767 100%);
  border-color: #FF6C95;
  color: white;
}

=======
}

.nxt_btn{
  background-color: black;
  color: white;
}

>>>>>>> staging
.question-progress-bar .progress-bar {
  background-color: #6beb1c !important;
}

.NoteCard .heading {
  border-bottom: 1px dashed #DADADA !important;
}


/* Teachers view - Students performance */
.students-performance-option {
  text-decoration: none;
  color: black;
  padding-bottom: 4px;
  margin-right: 40px;
  border-bottom: 4px solid transparent;
}

.students-performance-option.active {
  border-bottom: 4px solid #0A1629;
  cursor: pointer;
  padding-bottom: 4px;
}

/* Learners */
.learners-main-content {
  height: calc(var(--root-height) - var(--header-height) - 5rem);
  padding: 1rem 0;
}


/* BATHIRAN CSS Started*/
.brand_color {
  background: linear-gradient(90deg, #ec008c 0%, #fc6767 100%)
}

.brand_underscore {
  border: 2px solid #ec008c;
}

.brand_color_pricing_plan {
  background: linear-gradient(90deg, #ec008c 0%, #fc6767 100%);
  color: white;
}

.custom-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scroll::-webkit-scrollbar {
  display: none;
}

/* Organisation Pricing Plan */
.pricing_plan_capsule {
  background: linear-gradient(to bottom, #1c3fc6 0%, #758bf0 100%);
  color: white;
}

/* superAdminDashboard */
.superAdminCard {
  height: 12rem;
  position: relative;
}

.strokeImage {
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  opacity: 0.7;
  pointer-events: none;
}

.monthly_growth_chart {
  width: 100%;
  height: 125px;
  border: 0;
  outline: 0;
}

.plan_users_chart {
  width: 100px;
  height: 100px
}

.superAdmin_iconWrapper {
  background-color: hsla(343, 100%, 96%, 1);
}

/* organisationDashboard */
.basic_plan_rocket {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 80px;
  height: auto;
  opacity: 1;
  pointer-events: none;
}

.organisation_iconWrapper {
  background-color: hsla(343, 100%, 96%, 1);
}

/* profile */
.profile_edit_button {
  color: #ec008c;
  border: 1px solid #ec008c;
}

.profile_edit_button:hover,
.profile_edit_button:active {
  color: white;
  background: linear-gradient(90deg, #ec008c 0%, #fc6767 100%);
  border: none;
}

/* BATHIRAN CSS ENDED*/

.header_profile_image {
  width: 2rem;
  height: 2rem;
}

.profile_card_body_height {
  height: calc(var(--root-height) - (var(--header-height) + 14rem));
  width: 80%;
  overflow-y: auto;
}

.profile_left_card_height{
  height: calc(var(--root-height) - (var(--header-height) + 18rem));
  overflow-y: auto;
}

.offcanvas-sidebar {
  width: 18rem !important;
}

/* accordion styles */

.sidebar-accordion .accordion-button {
  background-color: #F3F3F3 !important;
  color: #414141 !important;
  font-weight: 600;
  box-shadow: none !important;
  border-radius: 8px !important;
}

.sidebar-accordion .accordion-button:not(.collapsed) {
  background: linear-gradient(90deg, #EC008C 0%, #FC6767 100%) !important;
  color: #fff !important;
}

.sidebar-accordion .accordion-button:focus {
  box-shadow: none !important;
}

.sidebar-accordion .accordion-button::after {
  filter: brightness(0);
}

.sidebar-accordion .accordion-button:not(.collapsed)::after {
  filter: brightness(0) invert(1);
}

.subchapter-item {
  position: relative;
  padding: 6px 20px;
  margin-left: 30px; 
  cursor: pointer;
}

.subchapter-item::before {
  content: "";
  position: absolute;
  left: -10px;  
  top: 0;
  width: 20px;
  height: 100%;
  border-left: 3px solid #ddd;
}

.subchapter-item::after {
  content: "";
  position: absolute;
  left: -10px;
  top: 0;
  width: 20px;
  height: 20px;
  border-left: 3px solid #ddd;
  border-bottom: 3px solid #ddd;
  border-radius: 0 0 0 10px;
}

.subchapter-item:last-child::before {
  height: 10px;
}

.subchapter-item p {
  font-size: 14px;
  font-weight: 500;
  color: #ECECECE0;
  margin: 0;
}

.subchapter-item:hover p {
  color: #ec008c;
}


.sidebar-book-title{
  font-size:18px;
  font-weight: 800;
  color:#ec008c;
  background:(90deg, #EC008C 0%, #FC6767 100%) !important;
;
}

.custom-dropdown {
  background-color: white !important;
  border: 1px solid transparent !important;
  border-radius: 6px !important;
  color: #555 !important;
  font-size: 14px;
  padding: 6px 12px;
  background-image: linear-gradient(white, white), 
                    linear-gradient(90deg, #EC008C 0%, #FC6767 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  min-width: 150px;
}

.custom-dropdown:hover, 
.custom-dropdown:focus {
  background-color: white !important;
  color: #000 !important;
}

.custom-dropdown::after {
  margin-left: 8px;
}
.dropdown-toggle-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-toggle-end::after {
  margin-left: auto;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #EC008C;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff !important;
}
.dropdown-item:hover{
  background-color: #EC008C !important;
  color: #fff !important;
}

.status-card {
  border-left: 3px solid #ff6c95 !important;
  border-radius: 5px !important;
  box-shadow: 0px 7.377px 46.108px 0px rgba(7, 5, 26, 0.07) !important;
}
.custom-color{
  color: #EC008C !important;

}
.custom-btn{
  color: #EC008C !important;
  border: 1px solid #EC008C !important;

}
.custom-btn:hover{
  background-color:#EC008C !important ;
  color: #fff !important;
}
.generate-question-header-text{
 font-family: "Manrope", sans-serif;
  font-size: 26px;
  color: #464646;
  font-weight: 700;
}
.generate-question-sub-text{
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}

.chapter-title{
  font-size: 18px;
  font-weight: 700;
  color: #182988;
}