.sidebar-wrapper {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}

.main_bg {
    background-color: #f8f9fa;
}

.layout_main_content {
    overflow-x: hidden;
}

.Uploadbtn {
    background-color: white;
    border: 2px dashed #E73C3C !important;
    /* color: #E73C3C; */
}

.upload_book_div {
    border: 1px #E73C3C dotted !important;
    border-radius: 10px;
}


.barchart-status {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: " item.fill";
    margin-right: 10px;
}

.Badge {
    position: absolute;
    border-radius: 7px;
    font-size: 0.6rem;
    z-index: 1;
    display: flex;
    justify-content: end;
    border-bottom-left-radius: 5px;
    background-color: #DDE2FF !important;
    color: #4258D6;
}

.chapter-label {
    font-size: 0.875rem;
}

.chapter-name {
    font-weight: 600;
    color: #000;
}

.timestamp-text {
    font-weight: 400;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0;
    text-align: right;
    color: #6c757d;
}

.custom-add-btn {
    background: var(--Brand-color-btn, linear-gradient(90deg, #EC008C 0%, #FC6767 100%));
    color: white;
    border: none;
}

.custom-btn {
    border: 2px solid #505052;
    color: #4f4f52;
    border-radius: 8px;
    background-color: transparent;
    transition: all 0.3s ease;
}

.option_icon_bg {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 12px;
    background: #F0F0F0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.title-2 {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    color: #182988;
}

.title-1 {
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    color: #4b4a4a;
}

/* bookdetails */
.legendStyle {
    display: flex;
    flex-direction: column;
    gap:"8px";
    font-size: "14px";
}


@media (max-width: 1199.98px) {
    .layout_main_content {
        padding-top: 1rem;
    }

    .sidebar-wrapper {
        width: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
    }
}
